@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --bg-color: #0f0f38;
  --main-color: #ff0513;
  --sec-main-color: #df0513;
  --sec-bg-color: #212142;
}

html {
  scroll-behavior: smooth;
}

.text-title{
  font-family: "Permanent Marker", cursive;
  font-size: 3rem;
  text-align: center;
}

span {
  color: var(--main-color);
}

i{
  font-size: 25px;
  color: var(--main-color);
}

body{
  display: grid;
  justify-items: center;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
}

/* Navbar */
nav{
    position: fixed;
    bottom: 24%;
    left: 10px;
    z-index: 1;

}
nav li{
    display: flex;
    width: 3rem;
    height: 3rem;
    list-style: none;
    margin-bottom: .5rem;
    border-radius: 15px;
    transition: width .5s ease;
    background: #0f0f38;
    box-shadow: inset 5px 5px 10px #060616,
                inset -5px -5px 10px #18185a;
    overflow: hidden;
}

nav li:hover{
    width: 8rem;
}

nav a{
    display: grid;
    grid-template-columns: 50px 30px;
    align-items: center;
    text-align: center;
}

nav h4 {
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1px;
}

/* Header */
header {
  display: grid;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 110dvh;
  font-family: "Permanent Marker";
  background-color: var(--bg-color);
  background-image: url(./Image/ad.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;
}

header > section {
  animation: fadeInUp 2s;
}

main{
  display: grid;
  justify-items: center;
  width: 80%;
  /* background-color: teal; */
}

section{
  padding-top: 3rem;
}

/* ABOUT PAGE ------------------------ */
#about{
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 3rem;
}

#about img {
  height: 470px;
  border-radius: 15px;
}

.profile h2 {
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.8px;
}

.profile h1 {
  margin-block: 1.5rem;
}

.profile p {
  margin-bottom: 0.4rem;
  font-size: 14px;
  text-align: justify;
}

.social-media h1 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.social-media ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.social-media a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  transition: all 0.3s ease;
  border-radius: 10px;
  background: #0f0f38;
  box-shadow: inset 5px 5px 10px #060616, inset -5px -5px 10px #18185a;
}

.social-media i {
  transition: all 0.4s;
}

.social-media a:hover i {
  transform: scale(1.5);
  transition: all 0.4s;
}

/* RESUME --------------- */
#resume h1 {
  margin-bottom: 1rem;
}

.journey {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.journey .title h2{
  font-size: 2rem;
  text-align: center;
  letter-spacing: 3px;
}

.timline-area {
  border-left: 2px solid white;
  margin: 1rem;
  padding-left: 20px;
}

.timline-area div {
  position: relative;
  margin: 1rem auto;
  border-radius: 10px;
  line-height: 1.7;
  border-radius: 10px;
  background: #0f0f38;
  box-shadow: inset 5px 5px 10px #060616, inset -5px -5px 10px #18185a;
}

.timline-area div::before {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  top: 0;
  left: -29px;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  background-color: var(--bg-color);
}

.timline-area div h2,
.timline-area div h3,
.timline-area div h4 {
  padding: 5px;
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;
}

.timline-area div ul{
  padding-inline: 40px;
  padding-bottom: 5px;
  font-size: 1rem;
  font-weight: 100;
}

/* ABILITIES */
#abilities{
  width: 100%;
  text-align: center;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 30px;
  margin-top: 1rem;
  
}

.coding {
  width: 100%;
}

.coding > h2 {
  margin-block: 1rem;
  letter-spacing: 2px;
}

.coding .skill-bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 1rem;
  font-size: 10px;
}

.skill-bar .bar {
  position: relative;
  height: 10px;
  border-radius: 25px;
  background: #0f0f38;
  box-shadow: inset 5px 5px 10px #060616, inset -5px -5px 10px #18185a;
}

.skill-bar .bar span {
  position: absolute;
  height: 100%;
  left: 0;
  border-radius: 10px;
  background-color: var(--sec-main-color);
}

.skill-bar .bar .n90 {
  width: 90%;
  animation: ani 3s ease-in;
}
.skill-bar .bar .n80 {
  width: 80%;
  animation: ani 3s ease-in;
}
.skill-bar .bar .n70 {
  width: 70%;
  animation: ani 3s ease-in;
}
.skill-bar .bar .n60 {
  width: 60%;
  animation: ani 3s ease-in;
}
.skill-bar .bar .n50 {
  width: 50%;
  animation: ani 3s ease-in;
}
.skill-bar .bar .n40 {
  width: 40%;
  animation: ani 3s ease-in;
}

@keyframes ani {
  from {
    width: 0;
  }
}

/* PROJECT */
#project {
  text-align: center;
}

.project-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
  margin-top: 1rem;
}

.project-card {
  position: relative;
  height: 200px;
  box-sizing: border-box;
  overflow: hidden;
}

.project-card img {
  width: 100%;
  height: 200px;
  transition: all 0.5s;
}

.project-card .text {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  padding: 10px;
  font-size: 20px;
  color: white;
  box-sizing: border-box;
  background-color: var(--sec-bg-color);
  opacity: 0;
  transition: all 0.5s;
}

.project-card:hover .text {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.project-card:hover img {
  transform: scale(1.3);
}

/* Contact */
#contact {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  align-items: center;
}

.title p {
  margin-top: 1rem;
}

.info-item {
  display: grid;
  grid-template-columns: 50px 200px;
  align-items: center;
  row-gap: 50px;
  margin: 0.3rem auto;
}

.info-item .text {
  letter-spacing: 1px;
}

.info-item i {
  font-size: 40px;
  color: var(--main-color);
}

.contact-message {
  display: flex;
  justify-content: center;
  text-align: center;
}

form h2 {
  margin-bottom: 1.5rem;
  font-size: 30px;
}

.form-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.form-group {
  width: 45%;
  border-radius: 25px;
  box-shadow: inset 5px 5px 10px #060616, inset -5px -5px 10px #18185a;
  overflow: hidden;
}

.form-group.area {
  flex-grow: 8;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-fields input,
.form-fields textarea {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: white;
  padding: 20px 20px;
  width: 100%;
}

.form-fields textarea {
  height: 150px;
  resize: none;
}

.submit-button {
  width: 50%;
  height: 40px;
  margin-top: 1rem;
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 10px;
  background: linear-gradient(145deg, #e60511, #ff0514);
  outline: none;
}

.submit-button:hover {
  background: #af0611;
}

/* Footer */
footer {
  position: relative;
  display: flex;
  justify-content: center;
  height: 50px;
  margin-top: 1rem;
  bottom: 0;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 5px;
  background: #0f0f38;
  box-shadow: inset 5px 5px 10px #060616, inset -5px -5px 10px #18185a;
}

footer .footer-logo img {
  width: 50px;
  height: 50px;
  background-color: var(--sec-main-color);
  border-radius: 50%;
}

footer p {
  margin: 1rem;
}

/* Responsive */

@media (max-width: 767px) {

  h1{
    font-size: 2.5rem;
  }

  /* Nav */
  nav {
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    background-color: black;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
  }

  nav ul li {
    width: 16%;
    align-items: center;
    border-radius: 0;
    box-shadow: none;
  }

  nav ul li:hover {
    width: 16%;
    background-color: #18185a;
  }

  nav ul li a {
    grid-template-columns: 1fr;
    width: 100%;
  }

  nav ul li a h4 {
    font-size: 0.8rem;
  }

  /* Header */
  .home-header {
    background-position: 20%;
  }

  main{
    width: 95%;
  }

  #about{
    grid-template-columns: 1fr;
    justify-items: center;
  }

  #about img{
    height: auto;
  }

  .journey{
    grid-template-columns: 1fr;
  }

  .journey .title h2{
    font-size: 1.5rem;
  }

  .timline-area div h2,
  .timline-area div h3,
  .timline-area div h4 {
    padding: 5px;
    font-size: 1rem;
  }
  .timline-area div ul{
    padding-inline: 25px;
    font-size: .7rem;
  }

  .skills{
    grid-template-columns: 1fr;
  }

  .project-main{
    grid-template-columns: 1fr 1fr;
  }

  .project-card{
    height: 100px;
  }

  #contact{
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  h1{
    font-size: 2.5rem;
  }

  /* Nav */
  nav {
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    background-color: black;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
  }

  nav ul li {
    width: 16%;
    align-items: center;
    border-radius: 0;
    box-shadow: none;
  }

  nav ul li:hover {
    width: 16%;
    background-color: #18185a;
  }

  nav ul li a {
    grid-template-columns: 1fr;
    width: 100%;
  }

  nav ul li a h4 {
    font-size: 0.8rem;
  }

  /* Header */
  .home-header {
    background-position: 20%;
  }

  main{
    width: 90%;
  }

  #about{
    /* grid-template-columns: 1fr;   */
    justify-items: center;
    align-items: center;
  }

  #about img{
    height: 400px;
  }

  .profile p{
    font-size: 12px;
  }

  .timline-area div h2,
  .timline-area div h3,
  .timline-area div h4 {
    padding: 5px;
    font-size: 1.3rem;
  }
  .timline-area div ul{
    padding-inline: 25px;
    font-size: .8rem;
  }
  .project-card{
    height: 150px;
  }


}
